﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Auctions</h2>

<form id="createForm" method="post" action="Auctions/Create/">
    <div class="form-group">
        <label>
            Title
        </label>
        <input class="form-control" name="Title" />
    </div>

    <div class="form-group">
        <label>
            Description
        </label>
        <input class="form-control" name="Description" />
    </div>

    <div class="form-group">
        <label>
            ActualAmount
        </label>
        <input class="form-control" name="ActualAmount" />
    </div>

    <div class="form-group">
        <label>
            StartingTime
        </label>
        <input class="form-control" name="StartingTime" />
    </div>

    <div class="form-group">
        <label>
            EndingTime
        </label>
        <input class="form-control" name="EndingTime" />
    </div>

    <button class="btn btn-success" type="button" id="saveButton">
        Save
    </button>
</form>

<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "Auctions/Create/",
            method: "post",
            data: $("#createForm").serialize()
        })
        .done(function (response) {
            $("#listingArea").html(response);

        });
    });
</script>