﻿@model BookSold.Entities.Auction
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Auction</h2>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button>
        Yes
    </button>

</form>
<form method="get" action="/Auctions">
    <button>
        No
    </button>
</form>

