﻿@model BookSold.Entities.Auction
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Auctions</h2>

<form id="editForm" method="post">

    <input type="hidden" name="ID" value="@Model.ID" />
    <label>
        Title
    </label>
    <input name="Title" value="@Model.Title"/>
    <br />

    <label>
        Description
    </label>
    <input name="Description" value="@Model.Description"/>
    <br />

    <label>
        ActualAmount
    </label>
    <input name="ActualAmount" value="@Model.ActualAmount"/>
    <br />

    <label>
        StartingTime
    </label>
    <input name="StartingTime" value="@Model.StartingTime"/>
    <br />

    <label>
        EndingTime
    </label>
    <input name="EndingTime" value="@Model.EndingTime"/>
    <br />
    <button id="saveButton" type="button">
        Save
    </button>
</form>

<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "Auctions/Edit/",
            method: "post",
            data: $("#editForm").serialize()
        })
        .done(function (response) {
            $("#listingArea").html(response);

        });
    });
</script>
