﻿@model List<BookSold.Entities.Auction>

<div class="row">
    <div class="col-lg-12" id="listingArea">
        <h2>Auctions</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Actual Amount
                    </th>
                    <th>
                        Starting Time
                    </th>
                    <th>
                        Ending Time
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var auction in Model)
            {
                    <tr>
                        <td>
                            <input type="hidden" name="ID" value="@auction.ID" />
                            @auction.Title
                        </td>
                        <td>
                            @auction.Description
                        </td>
                        <td>
                            @auction.ActualAmount
                        </td>
                        <td>
                            @auction.StartingTime
                        </td>
                        <td>
                            @auction.EndingTime
                        </td>
                        <td>
                            <button class="editButton btn btn-primary" data-id="@auction.ID">Edit</button>
                            <button class="deleteButton btn btn-danger" data-id="@auction.ID">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <button class="btn btn-success" id="createButton">Create New Auction</button>
        </div>

        <div id="contentArea">
        </div>

        <script>
    $("#createButton").click(function () {
        $.ajax({
            url: "Auctions/Create/",
            method: "get"

        }).done(function (response) {

            $("#contentArea").html(response);

        });
    });

    $(".editButton").click(function () {
        $.ajax({
            url: "Auctions/Edit/",
            method: "get",
            data: {
                ID: $(this).attr("data-id")
            }

        }).done(function (response) {

            $("#contentArea").html(response);

        });
    });

    $(".deleteButton").click(function () {

        var result = confirm("Are You Sure You Want To Delte This Auction?");

        if (result == true) {

             $.ajax({
                 url: "Auctions/Delete/",
                 method: "post",
                 data: {
                     ID: $(this).attr("data-id")
                 }

             }).done(function (response) {

                 $("#listingArea").html(response);

            });
        }
    });

        </script>
    </div>
</div>